// Mixins Here

.flex-center() {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.links() {
    &:link {
        text-decoration: none;
    }
    text-decoration: none;
}